.bg-primary {
    background-color: $primary !important;
}
.bg-red{
    background-color: $red !important;
}
.red-color {
    color: $red !important;
}
.active-link {
    @extend .red-color;
    font-weight: 600;
}

.dark-grey{
    color:$dark-grey !important;
}

.border-b-grey{
    border-bottom: solid 5px $dark-grey;
}

.border-white{
    border:solid 4px $white;
}

.min-height{
    min-height: 590px;
}

.curoser{
    cursor: pointer !important;
}
