.bg-primary {
    background-color: $primary !important;
}
.red-color {
    color: $red !important;
}
.active-link {
    @extend .red-color;
    font-weight: 600;
}

.dark-grey{
    color:$dark-grey !important;
}

.border-b-grey{
    border-bottom: solid 5px $dark-grey;
}
