:root {
    --font-primary: "Open Sans", sans-serif;
    --font-base-size: 14px;
    --font-size-xxl:24px;
    --font-size-xl: 20px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-weight-xl: 700;
    --font-weight-lg: 600;
    --font-weight-md: 500;
    --font-weight-normal:400;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-base-size);
    font-weight: var(--font-weight-normal);
}

// FONT SIZES

.text-xxl{
    font-size: var(--font-size-xxl);
    @include for-tablet-landscape-down {
        font-size: var(--font-size-xl);
    }

    @include for-phone-only {
        font-size: var(--font-size-lg);
    }

    @include for-mini-phone {
        font-size: var(--font-size-md);
    }

    @include for-minimin-phone {
        font-size: var(--font-size-sm);
    }
}
.text-xl {
    font-size: var(--font-size-xl);
    @include for-tablet-landscape-down {
        font-size: var(--font-size-lg);
    }

    @include for-phone-only {
        font-size: var(--font-size-md);
    }

    @include for-mini-phone {
        font-size: var(--font-size-sm);
    }

    @include for-minimin-phone {
        font-size: var(--font-size-xs);
    }
}
.text-lg {
    font-size: var(--font-size-lg);
    @include for-tablet-landscape-down {
        font-size: var(--font-size-md);
    }

    @include for-phone-only {
        font-size: var(--font-size-sm);
    }

    @include for-mini-phone {
        font-size: var(--font-size-xs);
    }
}
.text-md {
    font-size: var(--font-size-md);
    @include for-phone-only {
        font-size: var(--font-size-sm);
    }

    @include for-mini-phone {
        font-size: var(--font-size-xs);
    }
}
.text-sm {
    font-size: var(--font-size-sm);
}
.text-xs {
    font-size: var(--font-size-xs);
}


// FONT WEIGHT
.fw5 {
    font-weight: var(--font-weight-md);
}
.fw6 {
    font-weight: var(--font-weight-lg);
}
.fw7 {
    font-weight: var(--font-weight-xl);
}
