<nav class="navbar bg-primary px-0 py-3">
    <div class="container align-items-center">
        <div class="col-4 p-0">
            <h3 class="fw7 text-white text-nowrap">Top <span class="red-color">Movies</span></h3>
        </div>
        <div class="col-4 text-right">
            <ul class="navbar-list">
                <li class="d-inline-block mx-2"><a routerLink="/home" class="text-md" routerLinkActive="active-link" >Home</a></li>
                <li class="d-inline-block mx-2"><a routerLink="/movies" class="text-md" routerLinkActive="active-link">Movies</a></li>
            </ul>
        </div>
    </div>
</nav>