.slider {
    &-main {
        cursor: pointer !important;
        &__img{
            height: 400px;
            object-fit: contain;
        }
    }
    &-thumbnail {
        &__img {
            height: 80px;
        }
    }
    &-active {
        border: solid 5px $red;
    }
}
