.slider {
    &-main {
        position: relative;
        &__img {
            max-height:500px;
            @include for-tablet-landscape-down{
                transform:scaleX(1);
            }
        }
        &__title{
            color:$white;
            transition: all .5s;

            &:hover{
                color:$red !important;
            }
        }
    }
    &-thumbnail {
        &__img {
            // height: 180px;
            width: 50% !important;
            object-fit: contain;
            cursor: pointer;
            @include for-phone-only{
                width: 100% !important;
            }
        }
    }
    &-active {
        border: solid 5px $red;
    }
    .owl-nav {
        @include for-phone-only{
            display: none !important;
        }
        .owl-prev {
            left: -29px;
            @include for-phone-only{
                left:-18px;
            }
            @extend .global-but;
            &:hover {
                background-color: $red;
            }
        }
        .owl-next {
            right: -29px;
            @include for-phone-only{
                right:-18px;
            }
            @extend .global-but;
            &:hover {
                background-color: $red;
            }
        }
    }
}

.global-but {
    padding: 4px;
    background-color: $red;
    font-size: 25px;
    font-weight: 600;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
}
