<div class="slider bg-primary">
    <div class="container mb-5">
        <div class="border-bottom-grey">
            <div class="col-12">
                <h2 class="text-white py-3 fw7">New movies</h2>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of newMoviesList">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="card m-2 border-0 bg-primary slider-main" (click)="navigateToMovie(slide.id)">
                            <img src="{{slide.poster_path | imgSrc}}" class="slider-main__img"
                                [alt]="slide.original_title">
                            <div class="card-body d-flex p-0 m-3 justify-content-between">
                                <div class="mx-1 w-50 p-0 slider-thumbnail" *ngFor="let thumb of slide.thumbnail">
                                    <img src="{{thumb.file_path | imgSrc}}" class="slider-thumbnail__img"
                                        [alt]="slide.original_title" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="border-b-grey"></div>
    <div class="container">
        <div class="col-12 my-4">
            <h2 class="text-white py-3 fw7"> Top rated </h2>
        </div>
    </div>

</div>